/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-heading {
  font-family: 'Roboto';
  color: #64748b;
  text-align: center;
}
